cloudflare:
  api_token: "#{ bootstrap_cloudflare.token }#"
  domain: "#{ bootstrap_cloudflare.domain }#"
  email: "#{ bootstrap_cloudflare.acme.email }#"

issuer:
  #% if bootstrap_cloudflare.acme.production %#
  name: "letsencrypt-production"
  server: "https://acme-v02.api.letsencrypt.org/directory"
  #% else %#
  name: "letsencrypt-staging"
  server: "https://acme-staging-v02.api.letsencrypt.org/directory"
  #% endif %#
