fullnameOverride: ingress-nginx-internal
controller:
    service:
        annotations:
            io.cilium/lb-ipam-ips: 192.168.8.201
        externalTrafficPolicy: Cluster
    ingressClassResource:
        name: internal
        default: true
        controllerValue: k8s.io/internal
    admissionWebhooks:
        objectSelector:
            matchExpressions:
                - key: ingress-class
                  operator: In
                  values:
                    - internal
    config:
        client-body-buffer-size: 100M
        client-body-timeout: 120
        client-header-timeout: 120
        enable-brotli: "true"
        enable-real-ip: "true"
        hsts-max-age: 31449600
        keep-alive-requests: 10000
        keep-alive: 120
        log-format-escape-json: "true"
        log-format-upstream: |
            {"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x_forwarded_for": "$proxy_add_x_forwarded_for", "request_id": "$req_id", "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time, "status": $status, "vhost": "$host", "request_proto": "$server_protocol", "path": "$uri", "request_query": "$args", "request_length": $request_length, "duration": $request_time, "method": "$request_method", "http_referrer": "$http_referer", "http_user_agent": "$http_user_agent"}
        proxy-body-size: 0
        proxy-buffer-size: 16k
        ssl-protocols: TLSv1.3 TLSv1.2
    metrics:
        enabled: true
        serviceMonitor:
            enabled: true
            namespaceSelector:
                any: true
    extraArgs:
        default-ssl-certificate: network/ajaykumar-ie-production-tls
    resources:
        requests:
            cpu: 100m
        limits:
            memory: 500Mi
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1vntqr796ff4ql0rd0j5y7z8e2750uejm4v6kymleqlyeldt9yyvs4xv7e0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuQUlxWURlUlJSdzc5TUhG
            TVhWdVlSZUY0RFNOZGNsN0lmMWE1MmEzbUhRCml1TFlwemNWTFZWN0d0YjBMS0Rr
            S0t4ZHRsQnVxZy9QY3ZGdldYak9vem8KLS0tIGY3dUdGOVdaUjk1UXdEalJUVk9D
            azRGNHMvMTFJdTZGSHpPQlA0TkovYXcKvAScANKmHQXJB/McIKUeznC4NzQNf/8N
            c7joiineR3kUSK0tE9U+thcuNTt6n531XGj1k2zGmiY97GACxmJ82g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-10-13T17:23:53Z"
    mac: ENC[AES256_GCM,data:7UkWJ+hPPQYb2HEE2cG9eAR5vVPLOZ00cv2kprBD8XTMTTjuMbLY54nHYzhmLqkqlsgAFRDuieHd6q5dQ9dURhcIoGJGtF10IM69cIzqApbRGGt50cE1GvO3scJ9YJVMvOC5Ip9h/jlF2VuN9JEBEs3DqAT9qv8Q/Td/Drri1kg=,iv:Y+ahadL0uhboNNAQMxjpwxv6/+QC8UIQ5dyanOC6pFk=,tag:ivW7aNEe/5J/xolrt73Qvw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
