apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: settings-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./helm-secrets-private-keys.sops.yaml
