---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: home-kubernetes
  source:
    path: kubernetes/apps/cert-manager/cert-manager
    repoURL: "https://github.com/ajaykumar4/home-lab-cluster.git"
    targetRevision: "main"
  destination:
    name: in-cluster
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
