---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-apps
  namespace: argocd
spec:
  project: home-kubernetes
  source:
    path: kubernetes/apps/argocd/argocd
    repoURL: "#{ bootstrap_github_address }#"
    targetRevision: "#{ bootstrap_github_branch|default('main', true) }#"
  destination:
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
