apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: cert-manager-secret-generator
  namespace: cert-manager
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./cloudflare-api-token.sops.yaml
  - ./issuer-letsencrypt-staging.sops.yaml
  - ./issuer-letsencrypt-production.sops.yaml
  - ./certificate-staging.sops.yaml
  #% if bootstrap_cloudflare.acme.production %#
  - ./certificate-production.sops.yaml
  #% endif %#
