---
fullnameOverride: k8s-gateway
domain: "#{ cloudflare.domain }#"
ttl: 1
service:
  type: LoadBalancer
  port: 53
  annotations:
    io.cilium/lb-ipam-ips: "#{ cloudflare.gateway_vip }#"
  externalTrafficPolicy: Cluster
watchedResources: ["Ingress", "Service"]
