---
apiVersion: v1
kind: Secret
metadata:
  name: github
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: #{ bootstrap_github_address }#
  #% if bootstrap_github_private_key %#
  sshPrivateKey: {{ .Values.sshPrivateKey }}
  #% endif %#
