---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: argocd
stringData:
  #% if bootstrap_cloudflare.enabled %#
  SECRET_DOMAIN: "#{ bootstrap_cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ bootstrap_cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  #% endif %#
  SECERT_ARGOCD_ADMIN_PASSWORD: "#{ bootstrap_argocd_admin_password }#"
  GITHUB_WEBHOOK_TOKEN: "#{ bootstrap_github_webhook_token }#"
  NFS_SERVER: "#{ bootstrap_nfs.server }#"
