---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "#{ cloudflare.domain.replace('.', '-') }#-staging"
spec:
  secretName: "#{ cloudflare.domain.replace('.', '-') }#-staging-tls"
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "#{ cloudflare.domain }#"
  dnsNames:
    - "#{ cloudflare.domain }#"
    - "*.#{ cloudflare.domain }#"
