---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-configmap
data:
  config.yaml: |
    ---
    originRequest:
      originServerName: "external.#{ cloudflare.domain }#"

    ingress:
      - hostname: "#{ cloudflare.domain }#"
        service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
        #% if not cloudflare.acme.production %#
        originRequest:
          noTLSVerify: true
        #% endif %#
      - hostname: "*.#{ cloudflare.domain }#"
        service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
        #% if not cloudflare.acme.production %#
        originRequest:
          noTLSVerify: true
        #% endif %#
      - service: http_status:404
