---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-configmap
data:
  config.yaml: |
    ---
    originRequest:
      originServerName: "external.#{ cloudflare_domain }#"

    ingress:
      - hostname: "#{ cloudflare_domain }#"
        service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
        #% if cloudflare_cluster_issuer == 'staging' %#
        originRequest:
          noTLSVerify: true
        #% endif %#
      - hostname: "*.#{ cloudflare_domain }#"
        service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
        #% if cloudflare_cluster_issuer == 'staging' %#
        originRequest:
          noTLSVerify: true
        #% endif %#
      - service: http_status:404
