---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
stringData:
  TUNNEL_ID: "#{ cloudflare_tunnel('TunnelID') }#"
  credentials.json: |
    {
      "AccountTag": "#{ cloudflare_tunnel('AccountTag') }#",
      "TunnelSecret": "#{ cloudflare_tunnel('TunnelSecret') }#",
      "TunnelID": "#{ cloudflare_tunnel('TunnelID') }#"
    }
