---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: openebs
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: kubernetes
  sources:
    - repoURL: #{ github.address }#
      path: kubernetes/apps/openebs-system/openebs
      targetRevision: #{ github.branch }#
      ref: repo
    - repoURL: https://openebs.github.io/openebs
      chart: openebs
      targetRevision: 4.1.2
      helm:
        releaseName: openebs
        valueFiles:
          - $repo/kubernetes/apps/openebs-system/openebs/values.yaml
  destination:
    name: in-cluster
    namespace: openebs-system
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
