fullnameOverride: ingress-nginx-external
controller:
    service:
        annotations:
            external-dns.alpha.kubernetes.io/hostname: external.ajaykumar.ie
            io.cilium/lb-ipam-ips: 192.168.8.203
        externalTrafficPolicy: Cluster
    ingressClassResource:
        name: external
        default: false
        controllerValue: k8s.io/external
    admissionWebhooks:
        objectSelector:
            matchExpressions:
                - key: ingress-class
                  operator: In
                  values:
                    - external
    config:
        client-body-buffer-size: 100M
        client-body-timeout: 120
        client-header-timeout: 120
        enable-brotli: "true"
        enable-real-ip: "true"
        hsts-max-age: 31449600
        keep-alive-requests: 10000
        keep-alive: 120
        log-format-escape-json: "true"
        log-format-upstream: |
            {"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x_forwarded_for": "$proxy_add_x_forwarded_for", "request_id": "$req_id", "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time, "status": $status, "vhost": "$host", "request_proto": "$server_protocol", "path": "$uri", "request_query": "$args", "request_length": $request_length, "duration": $request_time, "method": "$request_method", "http_referrer": "$http_referer", "http_user_agent": "$http_user_agent"}
        proxy-body-size: 0
        proxy-buffer-size: 16k
        ssl-protocols: TLSv1.3 TLSv1.2
    metrics:
        enabled: true
        serviceMonitor:
            enabled: true
            namespaceSelector:
                any: true
    extraArgs:
        default-ssl-certificate: network/ajaykumar-ie-production-tls
    resources:
        requests:
            cpu: 100m
        limits:
            memory: 500Mi
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1vntqr796ff4ql0rd0j5y7z8e2750uejm4v6kymleqlyeldt9yyvs4xv7e0
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTQk45dWVYS1B6R2xLUUgz
            M2ZPamRDVVFnZzVPZWV4RTRPZlAybzRuOEJjCjBkWFBLOFNXa0ZqVFptbUlFYVp2
            VXVyR1VmWXUwZmVBaUFyay95VTFmcG8KLS0tIHRic2xHbzh1Mm5TejhuT3Nhc2ZM
            ZUROUVB6SHV6Q2RvYUlOdkNHVGlWcmMKc7cjK8vj/3RpLgH2FEehbRih6CjLMT0p
            KXUBY0UZeu2ln4X2NpNGCqLekoN/8MSUkBu1iNo7qhUXbjTaMy0fxw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-11-04T23:23:28Z"
    mac: ENC[AES256_GCM,data:lI+t1qSYptku5hJL0sIJiiL1XyPpHYr7XFEcoAfg0O6Xb59M1ZHJTcdketdjC4NpipNJMIIXkIVqdB+0tKwtaTDZ5AYfSmbxaQFDncmalCByIT00bZnS7fnpOmZ+Y7phHWmGjPCfHCR6F8m0PKTqVARar+cisaLWbP7Vwj4v3zo=,iv:RzUnqHkvAJUp9y5LAaDDlxHMTKzdQvkmVkI/sjYbcbY=,tag:FzCBJ84+9QXkqbIgOAHmnw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
