---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "#{ bootstrap_cloudflare.domain.replace('.', '-') }#-production"
spec:
  secretName: "#{ bootstrap_cloudflare.domain.replace('.', '-') }#-production-tls"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "#{ bootstrap_cloudflare.domain }#"
  dnsNames:
    - "#{ bootstrap_cloudflare.domain }#"
    - "*.#{ bootstrap_cloudflare.domain }#"
