---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: home-kubernetes
  source:
    path: kubernetes/apps/cert-manager/cert-manager/app
    repoURL: "#{ bootstrap_github_address }#"
    targetRevision: "#{ bootstrap_github_branch|default('main', true) }#"
    helm:
      releaseName: cert-manager
      valueFiles:
        - helm-values.yaml
  destination:
    name: in-cluster
    namespace: cert-manager
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
