apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-repo-server
spec:
  template:
    spec:
      volumes:
        - emptyDir: {}
          name: helmfile-cmp-tmp
        - name: sops-age
          secret:
            secretName: sops-age

      containers:
        - name: helmfile-plugin
          image: travisghansen/argo-cd-helmfile:latest
          command: [/var/run/argocd/argocd-cmp-server]
          env:
            - name: SOPS_AGE_KEY_FILE # For age
              value: /sops-age/key.txt
          securityContext:
            runAsNonRoot: true
            runAsUser: 999
          volumeMounts:
            - mountPath: /var/run/argocd
              name: var-files
            - mountPath: /home/argocd/cmp-server/plugins
              name: plugins
            - mountPath: /tmp
              name: helmfile-cmp-tmp
            - mountPath: /sops-age/
              name: sops-age

