# IMPORTANT: This file is not tracked by Argo and should never be. Its
# purpose is to only install the Argo components and CRDs into your cluster.
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - github.com/argoproj/argo-cd/manifests/cluster-install?ref=v2.11.4
  - argocd-secret-role.yaml
  - argocd-secret-rolebinding.yaml
  - argocd-service-account.yaml

patches:
  - path: argocd-repo-server.yaml
