---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-configmap
data:
  config.yaml: |
    ---
    originRequest:
      originServerName: "external.#{ bootstrap_cloudflare.domain }#"
      #% if not bootstrap_cloudflare.acme.production %#
      noTLSVerify: true
      #% endif %#

    ingress:
      - hostname: "#{ bootstrap_cloudflare.domain }#"
        service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
      - hostname: "*.#{ bootstrap_cloudflare.domain }#"
        service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
      - service: http_status:404
