---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflared
spec:
  endpoints:
    - dnsName: "external.#{ bootstrap_cloudflare.domain }#"
      recordType: CNAME
      targets: ["#{ bootstrap_cloudflare.tunnel.id }#.cfargotunnel.com"]
