---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflared
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: home-kubernetes
  sources:
    - repoURL: #{ bootstrap_github_address }#
      path: kubernetes/apps/network/cloudflared
      targetRevision: #{ bootstrap_github_branch|default('main', true) }#
      ref: repo
    - repoURL: ghcr.io/bjw-s/helm
      chart: app-template
      targetRevision: 3.5.1
      helm:
        releaseName: cloudflared
        valueFiles:
          - $repo/kubernetes/apps/network/cloudflared/values.yaml
  destination:
    name: in-cluster
    namespace: network
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
