---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: home-kubernetes
  source:
    path: charts/argo-cd
    repoURL: https://github.com/argoproj/argo-helm.git
    targetRevision: 7.3.4
    helm:
      releaseName: argocd
      valueFiles:
        - secrets://secrets.sops.yaml
  destination:
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
