---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: home-kubernetes
  source:
    path: kubernetes/apps/argocd/argocd/app
    repoURL: "#{ bootstrap_github_address }#"
    targetRevision: "#{ bootstrap_github_branch|default('main', true) }#"
    helm:
      releaseName: argocd
      valueFiles:
        - secrets+age-import:///sops-age/key.txt?helm-values.sops.yaml
  destination:
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
