---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '4'
spec:
  project: home-kubernetes
  sources:
    - repoURL: ghcr.io/argoproj/argo-helm
      chart: argo-cd
      targetRevision: 7.3.4
      helm:
        releaseName: argocd
        valueFiles:
          - $repo/kubernetes/apps/argocd/argocd/values.yaml
  destination:
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
  ignoreDifferences:
  - group: argoproj.io
    kind: Application
    jsonPointers:
    - /status
    - /metadata/annotations
