crds:
  install: true
global:
  domain: "argocd.#{ bootstrap_cloudflare.domain }#"
configs:
  params:
    server.insecure: true
  cm:
    statusbadge.enabled: true
    resource.exclusions: |
      - apiGroups:
          - cilium.io
        kinds:
          - CiliumIdentity
        clusters:
          - "*"
  secret:
    argocdServerAdminPassword: #{ bootstrap_argocd_admin_password }#
    githubSecret: #{ bootstrap_github_webhook_token }#
controller:
  metrics:
    enabled: true
    applicationLabels:
      enabled: true
    serviceMonitor: &service-monitor
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack
dex:
  metrics:
    enabled: true
    serviceMonitor: *service-monitor
redis:
  metrics:
    enabled: true
    serviceMonitor: *service-monitor
server:
  allowAnyNamespace: true
  certificate:
    enabled: true
    secretName: argocd-server-tls
    domain:  "argocd.#{ bootstrap_cloudflare.domain }#"
    issuer:
      group: cert-manager.io
      kind: ClusterIssuer
      #% if bootstrap_cloudflare.acme.production %#
      name: letsencrypt-production
      #% else %#
      name: letsencrypt-staging
      #% endif %#
  ingress:
    enabled: true
    ingressClassName: external
    annotations:
      external-dns.alpha.kubernetes.io/target: "external.#{ bootstrap_cloudflare.domain }#"
    hostname: "argocd.#{ bootstrap_cloudflare.domain }#"
  metrics:
    enabled: true
    serviceMonitor: *service-monitor
notifications:
  metrics:
    enabled: true
    serviceMonitor: *service-monitor
repoServer:
  env:
    - name: HELM_PLUGINS
      value: /custom-tools/helm-plugins/
    - name: HELM_SECRETS_CURL_PATH
      value: /custom-tools/curl
    - name: HELM_SECRETS_SOPS_PATH
      value: /custom-tools/sops
    - name: HELM_SECRETS_VALS_PATH
      value: /custom-tools/vals
    - name: HELM_SECRETS_KUBECTL_PATH
      value: /custom-tools/kubectl
    - name: HELM_SECRETS_BACKEND
      value: sops
    # https://github.com/jkroepke/helm-secrets/wiki/Security-in-shared-environments
    - name: HELM_SECRETS_VALUES_ALLOW_SYMLINKS
      value: "false"
    - name: HELM_SECRETS_VALUES_ALLOW_ABSOLUTE_PATH
      value: "true"
    - name: HELM_SECRETS_VALUES_ALLOW_PATH_TRAVERSAL
      value: "false"
    - name: HELM_SECRETS_WRAPPER_ENABLED
      value: "true"
    - name: HELM_SECRETS_DECRYPT_SECRETS_IN_TMP_DIR
      value: "true"
    - name: HELM_SECRETS_HELM_PATH
      value: /usr/local/bin/helm
    - name: SOPS_AGE_KEY_FILE # For age
      value: /sops-age/key.txt
  volumes:
    - emptyDir: {}
      name: helmfile-cmp-tmp
    - name: sops-age
      secret:
        secretName: sops-age
  extraContainers:
    - name: helmfile-plugin
      image: travisghansen/argo-cd-helmfile:latest
      command: [/var/run/argocd/argocd-cmp-server]
      env:
      - name: SOPS_AGE_KEY_FILE
        value: /sops-age/keys.txt
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /sops-age/
          name: sops-age
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: helmfile-cmp-tmp
