domain: #{ bootstrap_cloudflare.domain }#
webhook_token: #{ bootstrap_github_webhook_token }#
argocd_password: #{ bootstrap_argocd_admin_password }#
#% if bootstrap_cloudflare.acme.production %#
cert_issuer: letsencrypt-production
#% else %#
cert_issuer: letsencrypt-staging
#% endif %#
