global:
  domain: "argocd.#{ bootstrap_cloudflare.domain }#"
configs:
  secret:
    argocdServerAdminPassword: #{ bootstrap_argocd_admin_password }#
    githubSecret: #{ bootstrap_github_webhook_token }#
server:
  certificate:
    enabled: true
    secretName: argocd-server-tls
    domain:  "argocd.#{ bootstrap_cloudflare.domain }#"
    issuer:
      group: cert-manager.io
      kind: ClusterIssuer
      #% if bootstrap_cloudflare.acme.production %#
      name: letsencrypt-production
      #% else %#
      name: letsencrypt-staging
      #% endif %#
  ingress:
    enabled: true
    ingressClassName: external
    annotations:
      external-dns.alpha.kubernetes.io/target: "external.#{ bootstrap_cloudflare.domain }#"
    hostname: "argocd.#{ bootstrap_cloudflare.domain }#"
